spring:
  main:
    allow-circular-references: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://jardson-db-bank.cx4a8qo42etd.us-east-1.rds.amazonaws.com:3306/customers?useTimezone=true&serverTimezone=UTC
    username: admin
    password: admin123
  application:
    name: ms-customer
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
  rabbitmq:
    port: 5672
    stream:
      username: guest
      password: guest
    host: localhost
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB

#aws:
#  accessKeyId: AKIAQ3EGWSUTZVGU2QVY
#  secretKey: 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
#  region: us-east-1

file:
  upload-dir: /Jardson/upload
server:
  port: 8081

  jackson:
    time-zone: America/Sao_Paulo

