spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/customers?useTimezone=true&serverTimezone=UTC
    username: root
    password: 1234567
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
  rabbitmq:
    port: 5672
    stream:
      username: guest
      password: guest

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://banco:123456@localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
    enabled: false
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  application:
    name: mscustomer


