services:
  db:
    image: mysql:8.0.29
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_USER: docker
      MYSQL_PASSWORD: admin123
      MYSQL_DATABASE: customers
      MYSQL_ROOT_HOST: '%'
    ports:
      - 3308:3306
    networks:
      - bank-network

  customers:
    image: jardsonvenancio/customers
    restart: always
    build: ./ms-customer
    working_dir: /ms-customer
    environment:
      TZ: America/Sao_Paulo
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/customers?useTimezone=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: docker
      SPRING_DATASOURCE_PASSWORD: admin123
    ports:
      - 8081:8081
    command: mvn spring-boot:run
    depends_on:
      - db
    networks:
      - bank-network

networks:
  bank-network:
    driver: bridge
