spring:
  application:
    name: ms-calculate
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://jardson-db-bank.cx4a8qo42etd.us-east-1.rds.amazonaws.com:3306/customers?useTimezone=true&serverTimezone=UTC
    username: admin
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
  rabbitmq:
    port: 5672
    stream:
      username: guest
      password: guest


server:
  port: 8080




